a { cursor: pointer; cursor: hand; }
.autocomplete-custom-template li:nth-child(even){background-color: #D3D3D3;}

.ctooltip {
    border: 1px solid #1aa3ff !important;
    background-color: white !important;
    color: #1aa3ff !important;
    font-size: 13px;
    min-width: 1%;
    min-height: 1%;
    width: 50px;  
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.ctooltip .ctooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.ctooltip .ctooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: blue transparent transparent transparent;
}

.ctooltip:hover .ctooltiptext {
    visibility: visible;
    opacity: 1;
}