<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="main.home">Home</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="margin: auto" class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-cloak>
        <ul class="nav navbar-nav navbar-right">
            <li><a>Welcome {{username}}</a></li>
            <li><a href="/#!/changepass">Change Password</a></li>
            <li><a ng-click="logout()"> Logout</a></li>            
            <li><form class="navbar-form" ng-submit="searchShows()">
                <div  style="margin-top: -10px;" class="form-group" layout="column" ng-controller="headerController">
                <md-content class="md-padding">
                    <md-autocomplete
                      md-autoselect="true"
                      md-clear-button="false"
                      md-no-cache="true"
                      md-search-text="searchText"
                      md-items="suggesstions in suggesstions(searchText)"
                      md-item-text="suggesstions.showName"
                      md-min-length="0"
                      placeholder="Enter a Show"
                      md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <div ng-click="searchShows(suggesstions)">
                            <img src="{{suggesstions.image.medium}}" height="45" width="45"/>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{suggesstions.showName}}</span>
                        </div>
                    </md-item-template>
                    <md-not-found>
                      No shows matching were found.
                    </md-not-found>
                  </md-autocomplete>
                </md-content>
                    <!-- <input type="text" class="form-control" ng-model="keyword" ng-change="suggesstions()" style="margin-left: 10px;width: 400px;" placeholder="Search For New Series"> -->
                </div>
                </form></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
<div ui-view="mainBody"></div>