<html>
    <head>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <h2 style="text-align: center">Reset Password</h2>
        <div ng-if="showResetPassword">
         <form name="userForm" ng-submit="resetPassword()">
                    <div class="sign-in-htm" align="center">
                        <div ng-if='!passmatch' class="alert alert-warning" style="width: 30%">Passwords Didnot Match</div>
                        <div>
                            <div class="col-lg-4"></div>
                            <div class="group col-lg-4 col-md-6">
                                <input placeholder="New Password" type="password" class="form-control" ng-model="data.pass">
                                <input placeholder="Re-enter New Password" type="password" class="form-control" ng-model="data.repass" style="margin-top: 10px;">
                                <input style="margin-top: 10px;" type="submit" ng-disabled="!resetbutton" name="submit" class="btn btn-primary col-md-12 col-sm-12">
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <div ng-if="!showResetPassword">
            <div class="container" style="text-align: center;">
                <toast class="cToast"></toast>
                <hr>
                <form name="userForm" ng-submit="changePassword()">
                    <div class="sign-in-htm" align="center">
                        <div ng-if='loginFailed' class="alert alert-warning" style="width: 30%">{{ errorMessage }}</div>
                        <div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4 col-md-6">
                                <input id="email" placeholder="Enter your email" type="email" class="form-control" ng-model="data.email">
                                <button style="margin-top: 10px;" type="submit" class="btn btn-primary col-lg-12 col-md-12 col-sm-12">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>