<toast class="cToast"></toast>
<div class="container" style="margin-bottom: 20px;">
    <div class="col-sm-12" style="margin-bottom: 20px;">
        <h2 style="color: #1aa3ff;">{{showName}}</h2>
        <div class="row">
        <div class="col-sm-4"><img class="img-responsive" src="{{imageUrl}}"></div>
        <div class="col-sm-8">fdsa</div>
        </div>    
    </div>    
    <div>
    <episodes seasons="seasons" savedpoint="savedpoint" checkpoint="saveCheckpoint(episode)"></episodes>
    </div>    
</div>