<div style="margin-left: 10px;">
    <div ng-repeat="season in seasons">
        <h3 style="color: #1aa3ff;">Season {{season[0].season}}</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <span ng-repeat="episodes in season">
                    <button href="#" class="btn btn-info ctooltip"  data-toggle="tooltip" title="{{episodes.name}}">
                        {{episodes.number}}
                        <span class="ctooltiptext">
                            <input type="button" value="Checkpoint" class="btn btn-primary">
                        </span>
                    </button>
                </span>
            </div>
        </div>    
    </div>
</div>    