<div style="margin-left: 10px;">
    <div ng-repeat="season in seasons">
        <h3 style="color: #1aa3ff;">Season {{season[0].season}}</h3>
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <span ng-repeat="episodes in season">
                    <p class="btn btn-info ctooltip {{ watched(episodes) ? 'changebgcolor' : ''}}"  data-toggle="tooltip" title="{{episodes.name}}">
                        {{episodes.number}}
                        <span class="ctooltiptext">
                            <input type="button" value="I am at '{{episodes.name}}'" class="btn btn-primary" 
                                   ng-click="checkpoint({episode : episodes})">
                        </span>
                    </p>
                </span>
            </div>
        </div>    
    </div>
</div>    